DB_HOST=db
DB_USER=easydevs
DB_PASSWORD=test123
DB_NAME=easydevs
DB_PORT=5432

PORT=3000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
JWT_SECRET=your_jwt_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

AI_API_URL=https://your_url/v1
AI_API_KEY=your_api_key
AI_MODEL=your_llm_model